.text p{
	font-size: 160pt;
	line-height: 0.55;
	padding-top: 60px;
}
.text{
	width: 320px;
	height: 500px;
	word-wrap: break-word;
	overflow-wrap: break-word ;
	text-align: center;
	background-color: #000;
	color: #fff;
	letter-spacing: -20px;
}
.text p span{
	position: relative;
}
.text .char1{
	margin-right: -50px;
	z-index: 100;
	text-shadow: 0.05em 0.05em 0.2em rgba(10,10,10,0.8);
}
.text .char2{
	margin-right: 30px;
	z-index: 50;
	text-shadow: 0.05em 0.01em 0.3em rgba(10,10,10,0.8);
	top: 10px;
}
.text .char3{
	margin-right: 20px;
	margin-left: 27px;
	z-index: 5;
	text-shadow: 0.05em 0.05em 0.2em rgba(10,10,10,0.8);
}
.text .char4{
	margin-right: 0;
	z-index: 49;
	text-shadow: 0.05em 0.01em 0.3em rgba(10,10,10,0.8);
	top: 10px;
}
.text .char5{
	margin-right: 0;
	z-index: 48;
	text-shadow: 0.05em 0.05em 0.2em rgba(10,10,10,0.8);
	top: -10px;
}
